header {
    background-color: #f7cf59;
}

body{
background-color: white;

}

.mulher{
width: 500px;
height: 400px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.allny {
    margin-left: 650px;
    margin-top: 0;
    display: flex;
}